/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2022 @codewithsadee 
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
     * colors
     */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
     * typography
     */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
     * border-radius
     */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
     * transition 
     */

  --transition-timing: 0.2s ease;
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  font: inherit;
  border: none;
  cursor: pointer;
}

img,
ion-icon,
button,
a {
  display: block;
}

span {
  display: inline-block;
}

html {
  font-family: "Poppins", sans-serif;
  overscroll-behavior: contain;
}

input {
  display: block;
  width: 100%;
  font: inherit;
}

input::placeholder {
  font: inherit;
}

body {
  background: var(--white);
}

/**
   * scrollbar style
   */

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--cultured);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
  border: 3px solid var(--white);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

/**
 * overlay 
 */
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 0%, 0.5);
  pointer-events: none;
  z-index: 15;
  transition: 0.5s, ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
  animation: popup 1s ease-in-out 5s forwards;
}

@keyframes popup {
  0% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  100% {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.modal.closed {
  display: none;
}

.modal-close-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.newslatter-img {
  display: none;
}

.modal-content {
  position: relative;
  min-width: 350px;
  margin: 20px;
  background: var(--white);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  z-index: 2;
  animation: scaleup 0.5 ease-in-out 5s forwards;
}

@keyframes scaleup {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--salmon-pink);
  color: var(--white);
  font-size: 16px;
  padding: 5px;
  border-radius: var(--border-radius-sm);
}

.modal-close-btn:hover {
  opacity: 0.9;
}

.modal-close-btn ion-icon {
  --ionicon-stroke-width: 70px;
}

.newslatter {
  padding: 50px 30px;
  text-align: center;
}

.newslatter-beader {
  margin-bottom: 20px;
}

.newslatter-title {
  color: var(--onyx);
  font-size: var(--fs-2);
  font-weight: var(--weight-600);
  margin-bottom: 10px;
}

.newsletter-desc {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  line-height: 1.6;
}

.email-field {
  font-size: var(--fs-7);
  padding: 8px 16px;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--cultured);
  margin-bottom: 16px;
}

.btn-newsletter {
  background: var(--eerie-black);
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: var(--border-radius-sm);
  margin: auto;
  transition: var(--transition-timing);
}

.btn-newsletter:hover {
  background: var(--salmon-pink);
}

/* 
natification toast
*/

.notification-toast {
  position: fixed;
  bottom: 80px;
  gap: 15px;
  left: 20px;
  right: 20px;
  background: var(--white);
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  padding: 15px;
  box-shadow: 0 5px 20px hsla(0, 0%, 0%, 0.5);
  border-radius: var(--border-radius-md);
  transition: 0.5s ease-in-out;
  animation: slideInOut 10s ease-in-out infinite;
  z-index: 5;
}

@keyframes slideInOut {
  0%,
  45%,
  100% {
    transform: translateX(calc(-100% - 40px));
    opacity: 0;
    visibility: hidden;
  }

  50%,
  95% {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

.notification-toast.closed {
  display: none;
}

.toast-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--sonic-silver);
}

.toast-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.toast-banner {
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-sm);
  width: 70px;
  height: 70px;
}

.toast-banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.toast-detail {
  width: calc(100% - 85px);
  padding-right: 10px;
}

.toast-message {
  font-size: var(--fs-10);
  color: var(--sonic-silver);
  margin-bottom: 8px;
}

.toast-title {
  font-size: var(--fs-7);
  font-weight: var(--weight-500);
  color: var(--onyx);
}

.toast-meta {
  font-size: var(--fs-10);
  color: var(--sonic-silver);
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/
.sidebar {
  background: var(--white);
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  padding: 30px;
  width: 100%;
  max-width: 320px;
  visibility: hidden;
  z-index: 20;
  transition: 0.5s ease;
}

.sidebar.active {
  left: 0;
  visibility: visible;
}

.sidebar-category {
  border-bottom: 1px solid var(--cultured);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-title {
  text-transform: uppercase;
  color: var(--onyx);
  font-size: var(--fs-5);
  letter-spacing: 0.8px;
  font-weight: var(--weight-600);
}

.sidebar-close-btn img {
  width: 15px;
}

.sidebar-accordion-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0;
}

.sidebar .menu-title-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar .menu-title {
  font-size: var(--fs-5);
  color: var(--sonic-silver);
  font-weight: var(--weight-500);
}

.sidebar-accordion-menu ion-icon {
  color: var(--sonic-silver);
  font-size: 14px;
  --ionicon-stroke-width: 70px;
}

.sidebar-submenu-category-list {
  border-top: 1px solid var(--cultured);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.sidebar-submenu-category-list.active {
  padding: 13px 0 8px;
  max-height: 122px;
  visibility: visible;
}

.sidebar-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  padding: 2px 0;
}

.sidebar-submenu-title:hover {
  color: var(--eerie-black);
}

.sidebar .product-name {
  text-transform: capitalize;
}

.sidebar-accordion-menu.active .add-icon {
  display: none;
}

.sidebar-accordion-menu.active .remove-icon {
  display: block;
}

.sidebar-accordion-menu .add-icon {
  display: block;
}

.sidebar-accordion-menu .remove-icon {
  display: none;
}

.sidebar .showcase-heading {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: var(--onyx);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  margin-bottom: 15px;
}

.sidebar .showcase {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar .showcase:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar .showcase-img {
  border-radius: var(--border-radius-sm);
}

.sidebar .showcase-content {
  width: calc(100% - 90px);
}

.sidebar .showcase-title {
  color: var(--onyx);
  font-size: var(--fs-7);
  font-weight: var(--weight-400);
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
}

.sidebar .showcase-rating {
  display: flex;
  color: var(--sandy-brown);
  font-size: 13px;
  padding: 4px 0;
  align-items: center;
}

.sidebar .price-box {
  display: flex;
  gap: 15px;
  align-items: center;
}

.sidebar .price-box del {
  color: var(--sonic-silver);
  font-size: 13px;
}

.sidebar .price-box .price {
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  color: var(--davys-gray);
}
